## Cloning from git

In [ ]:
!git clone https://github.com/ArvindReddyC/Sord_analysis.git

Cloning into 'Sord_analysis'...
remote: Enumerating objects: 37, done.
remote: Counting objects: 100% (37/37), done.
remote: Compressing objects: 100% (34/34), done.
remote: Total 37 (delta 12), reused 17 (delta 2), pack-reused 0
Unpacking objects: 100% (37/37), done.

In [ ]:
!pwd

/content

## Modules Needed

In [2]:
import pandas as pd
import numpy as np
import gdown
%load_ext autoreload
%autoreload 2

## Start of code

In [ ]:
!touch functions.py

### Important Functions

In [3]:
def encapsule(df):
    display(df.head(5))
    print( f'shape of df = {df.shape}' )
    return df

def tran(x):
    y = x[1:-1]
    return y.split(',')

def only_activities( df , list_of_activities_to_include ): 
    return df[ df.Activity.isin( list_of_activities_to_include ) ]


def data_wrangle( df ):
    sample = df[['timestamp','raw_sensor_data']];
    sample['parameters'] = sample.raw_sensor_data.apply(tran);
    main = pd.DataFrame( sample.parameters.to_list() , columns = ['v1','v2','v3','v4','v5','v6','v7','v8','v9','v10','v11'] );
    main['timestamp'] = sample['timestamp'];
    main.drop( 'v1' , axis = 1 , inplace = True );
    main.set_index('timestamp' , inplace=True);
    return main;


def removeprocess(x):
    try:
      main , *_  = x.split(' ')
    except (ValueError,AttributeError):
      return x
    return main

def val_counts(df):
    return df['Activity'].value_counts()
'''
Will t
'''
def groupby_avarage(activity_df):
    activity_df['Time'] =  activity_df.Time.astype(int)
    means_df = activity_df.groupby('Time').mean()
    mode_of_activities = []
    for each in activity_df.groupby('Time'):
        mode_of_activities.append(each[1]['Activity'].mode()[0])
    means_df['Activities'] = mode_of_activities
    return means_df


def process_sheet(df, number):
    df = df.fillna(method='ffill')
    df.drop( ['SORD', 'AP time' , 'AP classification'] , axis = 1 , inplace = True )
    df = only_activities( df , ['Standing', 'Sitting', 'Reclining' , 'Walking', 'Sitting (outsrtetched legs)'] )
    df['User_Id'] = number 
    df['Activity'] = df.Activity.apply(removeprocess)
    df.Activity = df.Activity.replace( 'Reclining' , 'Sitting' )  
    display(val_counts(df))
    return df


def process_sheet_edit(df, number):
    df = df.fillna(method='ffill')
    display(val_counts(df))
    df['Activity'] = df.Activity.apply(removeprocess)
    # df.drop( ['SORD', 'AP time' , 'AP classification'] , axis = 1 , inplace = True )
    df = only_activities( df , ['Standing', 'Sitting', 'Reclining' , 'Walking', 'Sitting'] )
    df['User_Id'] = number 
    df.Activity = df.Activity.replace( 'Reclining' , 'Sitting' )  
    display(val_counts(df))
    return df


def drop_un(df):
  df.drop( ['SORD', 'AP time' , 'AP classification'] , axis = 1 , inplace = True )
  return df

### Reading the csv

### Sheet one cleaning

In [ ]:
sheet_one = pd.read_excel('/content/SORD combined_Feb_2022.xlsx' , sheet_name='01')

In [ ]:
sheet_one = sheet_one.fillna(method='ffill')
sheet_one.drop( ['SORD', 'AP time' , 'AP classification'] , axis = 1 , inplace = True )
sheet_one = only_activities( sheet_one , ['Standing', 'Sitting', 'Reclining' , 'Walking', 'Sitting (outsrtetched legs)'] )
sheet_one['User_Id'] = 1 
sheet_one['Activity'] = sheet_one.Activity.apply(removeprocess)
sheet_one.Activity = sheet_one.Activity.replace( 'Reclining' , 'Sitting' )

### Sheet two Cleaning

In [ ]:
sheet_two = pd.read_excel('/content/SORD combined_Feb_2022.xlsx' , sheet_name='02')

In [ ]:
sheet_two = encapsule(sheet_two.fillna(method='ffill'))
sheet_two.drop( ['SORD', 'AP time' , 'AP classification'] , axis = 1 , inplace = True )
sheet_two = only_activities( sheet_two , ['Standing', 'Sitting', 'Reclining' , 'Walking', 'Sitting (outsrtetched legs)'] )
sheet_two['User_Id'] = 2
sheet_two['Activity'] = sheet_two.Activity.apply(removeprocess)
sheet_two.Activity = sheet_two.Activity.replace( 'Reclining' , 'Sitting' )

       Time  Angle    X    Y  ...      Activity  SORD  AP time  AP classification
0  0.098994   90.0  0.0  0.0  ...  Signal error   NaN      NaN                NaN
1  0.197000   90.0  0.0  0.0  ...  Signal error   NaN      NaN                NaN
2  0.397000   90.0  0.0  0.0  ...  Signal error   NaN      NaN                NaN
3  0.796000   90.0  0.0  0.0  ...  Signal error   NaN      NaN                NaN
4  0.995000   90.0  0.0  0.0  ...  Signal error   NaN      NaN                NaN

[5 rows x 15 columns]

shape of df = (139166, 15)

In [ ]:
val_counts(sheet_two)

Sitting     63069
Standing    29029
Walking      8962
Name: Activity, dtype: int64

### Sheet three

In [ ]:
sheet_three = pd.read_excel('/content/SORD combined_Feb_2022.xlsx' , sheet_name='03')

In [ ]:
sheet_three = process_sheet(sheet_three,3)

### Sheet Five

In [ ]:
sheet_five = pd.read_excel('/content/SORD combined_Feb_2022.xlsx' , sheet_name='05')

In [ ]:
sheet_five_copy = sheet_five.copy( deep = True)

In [ ]:
sheet_five =  process_sheet(sheet_five,5)

### Sheet six

In [ ]:
sheet_six = encapsule(pd.read_excel('/content/SORD combined_Feb_2022.xlsx' , sheet_name='06'))

       Time   Angle     X     Y  ...  Activity  SORD  AP time  AP classification
0  0.062995  172.23 -0.85 -0.91  ...    Random   NaN      NaN                NaN
1  0.158000  172.23 -0.88 -0.91  ...       NaN   NaN      NaN                NaN
2  0.169000  172.23 -0.87 -0.93  ...       NaN   NaN      NaN                NaN
3  0.187000  172.23 -0.88 -0.90  ...       NaN   NaN      NaN                NaN
4  0.187000  172.23 -0.85 -0.92  ...       NaN   NaN      NaN                NaN

[5 rows x 15 columns]

shape of df = (137687, 15)

In [ ]:
sheet_six = process_sheet(sheet_six,6)

### Sheet 07

In [ ]:
sheet_seven = encapsule(pd.read_excel('/content/SORD combined_Feb_2022.xlsx' , sheet_name='07'))
sheet_seven = process_sheet_edit(sheet_seven,7)

### Sheet nine

In [ ]:
sheet_nine = encapsule(pd.read_excel('/content/SORD combined_Feb_2022.xlsx' , sheet_name='09'))

       Time   Angle     X     Y  ...  Activity  SORD  AP time  AP classification
0  0.025005  163.57 -2.59 -0.15  ...    Random   NaN      NaN                NaN
1  0.056005  161.43 -3.87  0.99  ...       NaN   NaN      NaN                NaN
2  0.073003  161.81 -3.00  0.75  ...       NaN   NaN      NaN                NaN
3  0.098008  160.71 -3.60  0.47  ...       NaN   NaN      NaN                NaN
4  0.117010  158.06 -3.59 -0.11  ...       NaN   NaN      NaN                NaN

[5 rows x 15 columns]

shape of df = (116612, 15)

In [ ]:
sheet_nine = process_sheet(sheet_nine,9)

Sitting     41708
Standing    24381
Walking      8507
Name: Activity, dtype: int64

### Sheet ten

In [ ]:
sheet_ten = encapsule(pd.read_excel('/content/SORD combined_Feb_2022.xlsx' , sheet_name='10'))

       Time   Angle     X     Y  ...  Activity  SORD  AP time  AP classification
0  0.080999  160.19 -0.70  4.09  ...   Sitting   NaN      NaN                NaN
1  0.148010  161.62 -2.15  1.13  ...       NaN   NaN      NaN                NaN
2  0.173000  161.07 -1.16  2.76  ...       NaN   NaN      NaN                NaN
3  0.186010  161.99 -1.75  2.72  ...       NaN   NaN      NaN                NaN
4  0.204000  162.38 -1.99  2.17  ...       NaN   NaN      NaN                NaN

[5 rows x 15 columns]

shape of df = (120642, 15)

In [ ]:
sheet_ten = process_sheet(sheet_ten,10)

Sitting     52269
Standing    23217
Walking      8721
Name: Activity, dtype: int64

### Sheet eleven

In [ ]:
sheet_eleven = encapsule(pd.read_excel('/content/SORD combined_Feb_2022.xlsx' , sheet_name='11'))

       Time   Angle     X     Y  ...  Activity  SORD  AP time  AP classification
0  0.026001  173.15 -0.98 -0.69  ...    Random   NaN      NaN                NaN
1  0.095996  173.15 -0.99 -0.71  ...       NaN   NaN      NaN                NaN
2  0.157000  173.15 -0.98 -0.70  ...       NaN   NaN      NaN                NaN
3  0.186000  173.15 -0.97 -0.70  ...       NaN   NaN      NaN                NaN
4  0.279000  173.15 -0.97 -0.70  ...       NaN   NaN      NaN                NaN

[5 rows x 15 columns]

shape of df = (131368, 15)

In [ ]:
sheet_eleven = process_sheet(sheet_eleven,11)

Sitting     51000
Standing    27242
Walking      9057
Name: Activity, dtype: int64

In [ ]:
sheet_eleven

            Time   Angle      X  ...  Unnamed: 10  Activity  User_Id
933       34.257  141.50  -4.68  ...        48.25   Sitting       11
934       34.289  141.50  -4.68  ...        48.25   Sitting       11
935       34.359  141.88  -4.67  ...        47.88   Sitting       11
936       34.373  141.98  -4.64  ...        47.88   Sitting       11
937       34.421  142.17  -4.61  ...        47.88   Sitting       11
...          ...     ...    ...  ...          ...       ...      ...
131363  4927.500  114.09 -31.97  ...       -12.69   Walking       11
131364  4927.500  115.31   7.15  ...        -3.50   Walking       11
131365  4927.600  104.78 -10.84  ...        -3.50   Walking       11
131366  4927.600  104.90  -9.45  ...        -7.06   Walking       11
131367  4927.700  105.93 -14.75  ...       -13.50   Walking       11

[87299 rows x 13 columns]

### Sheet 12

In [ ]:
sheet_twelve = encapsule(pd.read_excel('/content/SORD combined_Feb_2022.xlsx' , sheet_name='12'))
sheet_twelve = process_sheet_edit(sheet_twelve,12)

      Time   Angle     X  ...  SORD  AP time  AP classification
0  0.16300   90.00  0.00  ...   NaN      NaN                NaN
1  0.21701   90.00  6.99  ...   NaN      NaN                NaN
2  0.22601  172.23 -1.18  ...   NaN      NaN                NaN
3  0.23200  172.67 -0.69  ...   NaN      NaN                NaN
4  0.26400  172.67 -1.24  ...   NaN      NaN                NaN

[5 rows x 15 columns]

shape of df = (116067, 15)

Sitting                                                          29404
Standing                                                         25183
Reclining                                                        11379
Lying (face up)                                                   4204
Walking (fast)                                                    4095
Walking (normal)                                                  4095
Sitting (outstretched legs)                                       3887
Prepared for simple resistance exercises (discard)                3725
Discard                                                           3671
Lying (face down)                                                 3444
Lying (left shoulder)                                             3428
Lying (right shoulder)                                            3340
Sitting 2                                                         2698
Sitting 1                                                         2261
single leg straight leg kick backs                                1971
calf raises                                                       1743
Preparation (discard)                                             1643
half squats                                                       1309
Walking (random)                                                  1228
half squat                                                         704
Switched to face down (Turned)                                     627
Walking                                                            553
Moved towards matt and prepared to sit with outstretched legs      225
Turned to left shoudler                                            198
Switch from sitting to reclining                                   189
Sitting switch                                                     185
Switch from sitting to standing                                    164
Moved towards the same spot for standing                           148
Moved towards the wall to stand (discard)                          134
Turned to lie on right shoulder                                     87
Switch from reclining to sitting                                    87
From standing to sitting                                            58
Name: Activity, dtype: int64

Sitting     49814
Standing    25183
Walking      9971
Name: Activity, dtype: int64

### sheet 13

In [ ]:
sheet_thirteen = encapsule(pd.read_excel('/content/SORD combined_Feb_2022.xlsx' , sheet_name='13'))
sheet_thirteen = process_sheet_edit(sheet_thirteen,13)

       Time   Angle     X     Y  ...  Activity  SORD  AP time  AP classification
0  0.040002  160.89 -2.61  3.15  ...    Random   NaN      NaN                NaN
1  0.058006  160.89 -2.66  3.28  ...       NaN   NaN      NaN                NaN
2  0.114000  160.54 -2.71  3.30  ...       NaN   NaN      NaN                NaN
3  0.168000  159.85 -2.85  3.57  ...       NaN   NaN      NaN                NaN
4  0.177010  159.18 -2.81  3.36  ...       NaN   NaN      NaN                NaN

[5 rows x 15 columns]

shape of df = (123695, 15)

Standing                              26526
Sitting                               19113
Sitting 1                             13944
Discard                               12778
Walking                               10204
Reclining                              9798
Lying (face down)                      3780
Sitting                                3738
Sitting (outstretched legs)            3731
Lying (face up)                        3545
Lying (left shoulder)                  3528
Lying (right shoulder)                 3434
single leg straight leg kick backs     2265
calf raises                            1725
half squat                             1294
Random                                 1170
Walking (random)                        940
Walk (random)                           785
Switch                                  682
half squats                             631
Turned to left shoudler                  84
Name: Activity, dtype: int64

Sitting     50324
Standing    26526
Walking     11144
Name: Activity, dtype: int64

### Sheet 15

In [ ]:
sheet_fifteen = encapsule(pd.read_excel('/content/SORD combined_Feb_2022.xlsx' , sheet_name='15'))
sheet_fifteen = process_sheet_edit(sheet_fifteen,15)

      Time   Angle     X     Y  ...  Activity  SORD  AP time  AP classification
0  0.22201   90.00  0.00  0.00  ...       NaN   NaN      NaN                NaN
1  0.38500   90.00  0.00  0.00  ...       NaN   NaN      NaN                NaN
2  0.42500   90.00  0.00  9.77  ...       NaN   NaN      NaN                NaN
3  0.45001  176.34 -0.57  0.79  ...       NaN   NaN      NaN                NaN
4  0.52800  176.34 -0.47  0.74  ...       NaN   NaN      NaN                NaN

[5 rows x 15 columns]

shape of df = (114876, 15)

Sitting                                               30781
Standing                                              23512
Reclining                                             10289
Walking (on treadmil)                                  8825
Discard                                                5948
Prepared for simple resistance exercises (discard)     3996
Sitting (outstretched legs)                            3883
Lying (face up)                                        3600
Sitting                                                3511
Lying (right shoulder)                                 3476
Lying (face down)                                      3356
Lying (left shoulder)                                  3333
single leg straight leg kick backs                     2430
half squat                                             1410
calf raises                                            1367
calf rises                                              750
half squats                                             635
Walking                                                 607
Pprepared to sit wit outstretched legs                  413
Returned to the same spot to stand                      353
Switched to face down (Turned)                          253
Moved to lean on the wall                               219
Turned to lie on right shoulder                         153
Turned to left shoudler                                 117
Moved towards the same spot for standing                112
Moved towards the wall to stand (discard)               107
Sitting switch (to right over left knee)                 80
Switch                                                   78
Switch (stand to sit)                                    70
Switch from sit to stand                                 60
Switch to reclining                                      48
Name: Activity, dtype: int64

Sitting     48544
Standing    23512
Walking      9432
Name: Activity, dtype: int64

### Sheet Sixteen

In [ ]:
sheet_sixteen = encapsule(pd.read_excel('/content/SORD combined_Feb_2022.xlsx' , sheet_name='16'))

       Time   Angle     X  ...  Unnamed: 9  Unnamed: 10               Activity
0  0.023999  160.71 -2.50  ...       -0.69        43.38  Preparation (discard)
1  0.083997  160.71 -2.64  ...       -0.69        41.06                    NaN
2  0.137000  160.89 -2.76  ...       -0.69        41.06                    NaN
3  0.150000  160.89 -2.66  ...       -1.06        43.00                    NaN
4  0.248000  161.07 -2.62  ...       -0.69        42.25                    NaN

[5 rows x 12 columns]

shape of df = (120228, 12)

In [ ]:
sheet_sixteen = process_sheet_edit(sheet_sixteen,16)

### Sheet Seventeen

In [ ]:
sheet_seventeen = encapsule(pd.read_excel('/content/SORD combined_Feb_2022.xlsx' , sheet_name='17'))
sheet_seventeen = process_sheet_edit(sheet_seventeen,17)

In [ ]:
raw_df = pd.read_excel('/content/Sord_analysis/SORD combined.xlsx')

In [ ]:
raw_df.head(5)

     Time   Angle     X     Y  ...  Unnamed: 8  Unnamed: 9  Unnamed: 10   Activity
0  145.06  166.27 -2.19 -0.75  ...      -19.00       -5.75        54.25  Sitting 1
1  145.08  166.27 -2.21 -0.76  ...      -19.00       -5.38        52.75        NaN
2  145.11  166.27 -2.21 -0.79  ...      -19.00       -5.38        54.00        NaN
3  145.13  166.27 -2.23 -0.78  ...      -18.19       -5.75        54.00        NaN
4  145.19  166.27 -2.24 -0.78  ...      -18.56       -6.06        54.00        NaN

[5 rows x 12 columns]

### Preprocessing

In [ ]:
print(raw_df.shape)
raw_df.Activity.replace(np.NaN,1,inplace = True)
indexes = raw_df[ raw_df.Activity != 1   ].index
indexes
# filling the columns
for each in range((len(indexes) - 1) ):
  raw_df.loc[indexes[each]:(indexes[ each + 1]-1)]['Activity'] =  raw_df.loc[indexes[each]]['Activity']
raw_df.loc[91909:95403,'Activity'] = 'Walking 3'

'''
The below function can replace the above setsp 
'''
df.fillna(method='ffill')

(95403, 12)

In [ ]:
raw_df.Activity.value_counts().index

Index(['Standing', 'Sitting 2', 'Sitting 4', 'Standing 4',
       'Prepared to walk on treadmil', 'Standing 3', 'Lying 1', 'Sitting 5',
       'Sitting (oustretched legs)', 'Walking 3', 'Sitting 6', 'Sitting 9',
       'Lying 2', 'Sitting 8', 'Walking 2', 'Sitting 1', 'Lying 4', 'Lying 3',
       'Standing 2', 'Reclining 2', 'Reclining 3', 'Sitting 3 ', 'Reclining 1',
       'Sitting 7', 'Standing 5', 'Walking 1',
       'Switch from normal to fast walking',
       'Moved towards matt and prepared to sit with outstretched legs',
       'Switched to face down', 'Switch to lie down',
       'Turned to left shoudler', 'Switch',
       'Moved towards the wall to stand (discard)',
       'Switched to face down (Turned)',
       'Moved towards the same spot for standing', 'Switch to standing',
       'Switching legs', 'From standing to sitting',
       'Switch to right leg over knee', 'Switch to sitting',
       'Switch to lean on left shoulder', 'Switch from standing to walking',
       'Uturn to stand',
       'Switch from moving left foot to right foot (This subject started fidgeting his left leg first- right leg is first in the protocol:)'],
      dtype='object')

In [ ]:
copy_raw_df.head(5)

     Time   Angle     X     Y  ...  Unnamed: 8  Unnamed: 9  Unnamed: 10   Activity
0  145.06  166.27 -2.19 -0.75  ...      -19.00       -5.75        54.25  Sitting 1
1  145.08  166.27 -2.21 -0.76  ...      -19.00       -5.38        52.75  Sitting 1
2  145.11  166.27 -2.21 -0.79  ...      -19.00       -5.38        54.00  Sitting 1
3  145.13  166.27 -2.23 -0.78  ...      -18.19       -5.75        54.00  Sitting 1
4  145.19  166.27 -2.24 -0.78  ...      -18.56       -6.06        54.00  Sitting 1

[5 rows x 12 columns]

In [ ]:
copy_raw_df = raw_df.copy( deep = 'True')

In [ ]:
activity_df = raw_df[ ~raw_df.Activity.isin( [ 'Switch from normal to fast walking',
       'Moved towards matt and prepared to sit with outstretched legs',
       'Switched to face down', 'Switch to lie down',
       'Turned to left shoudler', 'Switch',
       'Moved towards the wall to stand (discard)',
       'Switched to face down (Turned)',
       'Moved towards the same spot for standing', 'Switch to standing',
       'Switching legs', 'From standing to sitting',
       'Switch to right leg over knee', 'Switch to sitting',
       'Switch to lean on left shoulder', 'Switch from standing to walking',
       'Uturn to stand',
       'Switch from moving left foot to right foot (This subject started fidgeting his left leg first- right leg is first in the protocol:)','Prepared to walk on treadmil','Lying 1','Lying 4','Lying 3','Lying 2'] ) ]

In [ ]:
def removeprocess(x):
    try:
      main , *_  = x.split(' ')
    except ValueError:
      return x
    return main
activity_df.Activity = activity_df.Activity.apply(removeprocess)
activity_df.Activity = activity_df.Activity.replace( 'Reclining' , 'Sitting' )

In [ ]:
activity_df.Activity.value_counts()

Sitting     46192
Standing    21096
Walking      7530
Name: Activity, dtype: int64

In [ ]:
#Check Point
copy_activity_df_df = activity_df.copy( deep = 'True')

In [ ]:
activity_df['Time'] =  activity_df.Time.astype(int)
means_df = activity_df.groupby('Time').mean()
mode_of_activities = []
for each in activity_df.groupby('Time'):
    mode_of_activities.append(each[1]['Activity'].mode()[0])
means_df['Activities'] = mode_of_activities
means_df['Activities'].value_counts()

In [ ]:
means_df

           Angle          X         Y  ...  Unnamed: 9  Unnamed: 10  Activities
Time                                   ...
145   166.270000  -2.207407 -0.762593  ...   -5.792593    54.161111     Sitting
146   166.270000  -2.210000 -0.760741  ...   -6.061481    54.127407     Sitting
147   166.270000  -2.205185 -0.763333  ...   -5.791481    53.940000     Sitting
148   166.270000  -2.198571 -0.772143  ...   -6.120714    53.895357     Sitting
149   166.270000  -2.196667 -0.775556  ...   -6.055185    54.298148     Sitting
...          ...        ...       ...  ...         ...          ...         ...
3703   53.410385 -10.901923  0.548462  ...  -26.087308    -9.523846     Walking
3704   52.474815 -10.627778  0.649259  ...  -26.617037    -8.483704     Walking
3705   51.481154 -10.300769  0.778462  ...  -26.334231    -9.202308     Walking
3706   50.465769 -11.469615  0.376923  ...  -26.990385    -8.728077     Walking
3707   53.930000  -7.540000  1.730000  ...  -28.690000    -0.190000     Walking

[2803 rows x 11 columns]

In [ ]:
means_df['Activities'].value_counts()

Sitting     1714
Standing     801
Walking      288
Name: Activities, dtype: int64

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import  accuracy_score

In [ ]:
sheet_seven = drop_un(sheet_seven)
sheet_twelve = drop_un(sheet_twelve)
sheet_thirteen = drop_un(sheet_thirteen)
sheet_fifteen = drop_un(sheet_fifteen)
sheet_seventeen = drop_un(sheet_seventeen)
for each in [sheet_one, sheet_two, sheet_three, sheet_five, sheet_six, sheet_seven, sheet_nine, sheet_ten, sheet_eleven, sheet_twelve, sheet_thirteen, sheet_fifteen, sheet_sixteen, sheet_seventeen]:
  print(each.shape)

(108046, 13)
(101060, 13)
(103561, 13)
(48734, 13)
(90281, 13)
(74818, 13)
(74596, 13)
(84207, 13)
(87299, 13)
(84968, 13)
(87994, 13)
(81488, 13)
(83987, 13)
(76777, 13)

In [ ]:
list_of_dfs = []
for each in [sheet_one, sheet_two, sheet_three, sheet_five, sheet_six, sheet_seven, sheet_nine, sheet_ten, sheet_eleven, sheet_twelve, sheet_thirteen, sheet_fifteen, sheet_sixteen, sheet_seventeen]:
    list_of_dfs.append( groupby_avarage(each) )

In [ ]:
list_of_dfs[5]

           Angle          X         Y  ...  Unnamed: 10  User_Id  Activities
Time                                   ...
145   166.270000  -2.207407 -0.762593  ...    54.161111      7.0     Sitting
146   166.270000  -2.210000 -0.760741  ...    54.127407      7.0     Sitting
147   166.270000  -2.205185 -0.763333  ...    53.940000      7.0     Sitting
148   166.270000  -2.198571 -0.772143  ...    53.895357      7.0     Sitting
149   166.270000  -2.196667 -0.775556  ...    54.298148      7.0     Sitting
...          ...        ...       ...  ...          ...      ...         ...
3703   53.410385 -10.901923  0.548462  ...    -9.523846      7.0     Walking
3704   52.474815 -10.627778  0.649259  ...    -8.483704      7.0     Walking
3705   51.481154 -10.300769  0.778462  ...    -9.202308      7.0     Walking
3706   50.465769 -11.469615  0.376923  ...    -8.728077      7.0     Walking
3707   53.930000  -7.540000  1.730000  ...    -0.190000      7.0     Walking

[2803 rows x 12 columns]

In [ ]:
concat = pd.concat(list_of_dfs, axis = 0 )
concat['Time_stamp'] = concat.index
df_main = concat.sort_values(by = ['User_Id', 'Time_stamp'], ignore_index=True)

In [ ]:
df_main

            Angle          X         Y  ...  User_Id  Activities  Time_stamp
0      164.650000  -2.210000 -1.368750  ...      1.0     Sitting           0
1      161.728519  -2.514815 -1.687037  ...      1.0     Sitting           1
2      160.333214  -2.761429 -1.835357  ...      1.0     Sitting           2
3      163.047407  -2.577037 -1.169630  ...      1.0     Sitting           3
4      163.772500  -2.531786 -1.073929  ...      1.0     Sitting           4
...           ...        ...       ...  ...      ...         ...         ...
44537   93.979231 -10.285385  1.137308  ...     17.0     Walking        3809
44538   95.917407  -9.693333 -0.649259  ...     17.0     Walking        3810
44539   97.396667 -10.337037  0.638148  ...     17.0     Walking        3811
44540   97.975714  -9.110000  0.846786  ...     17.0     Walking        3812
44541  108.260000 -15.560000 -0.150000  ...     17.0     Walking        3813

[44542 rows x 13 columns]

In [ ]:
(df_main.shape[0])/0.75

59389.333333333336

In [ ]:
split = int(((df_main.shape[0]) * 0.75))
train =  df_main.iloc[ 0:split , :  ] 
test = df_main.iloc[ split: , :  ]

In [ ]:
train

            Angle         X         Y  ...  User_Id  Activities  Time_stamp
0      164.650000 -2.210000 -1.368750  ...      1.0     Sitting           0
1      161.728519 -2.514815 -1.687037  ...      1.0     Sitting           1
2      160.333214 -2.761429 -1.835357  ...      1.0     Sitting           2
3      163.047407 -2.577037 -1.169630  ...      1.0     Sitting           3
4      163.772500 -2.531786 -1.073929  ...      1.0     Sitting           4
...           ...       ...       ...  ...      ...         ...         ...
33401  150.860000 -4.477308 -1.683077  ...     13.0     Sitting        1299
33402  150.860000 -4.476154 -1.682308  ...     13.0     Sitting        1300
33403  150.860000 -4.478148 -1.685926  ...     13.0     Sitting        1301
33404  150.860000 -4.479231 -1.682692  ...     13.0     Sitting        1302
33405  150.860000 -4.478077 -1.684231  ...     13.0     Sitting        1303

[33406 rows x 13 columns]

In [ ]:
df_main.to_csv('dataset_main.csv')

### Modeling

In [ ]:
clf = RandomForestClassifier( random_state = 0 )
clf.fit( train[ train.columns.drop(['Activities','User_Id','Time_stamp'])  ] , train.Activities )

In [ ]:
preds = clf.predict(test[ test.columns.drop(['Activities','User_Id','Time_stamp'])  ] )
accuracy_score( test.Activities , preds ) * 100

99.38038793103449

In [ ]:
print( f'max value in Angle = {np.max( df_main.Angle)}' )
print( f'min value in Angle = {np.min( df_main.Angle)}' )

max value in Angle = 180.0
min value in Angle = 33.183928571428574

### Testing on the new set

In [ ]:
sample = pd.read_csv('new_test_data.csv')
main = encapsule(data_wrangle(sample))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

                                         v2     v3  ...       v10      v11
timestamp                                           ...
2022-02-13T14:32:00.378Z  8.192087525665539  -0.99  ...   -19.375  -61.875
2022-02-13T14:32:00.866Z  8.192087525665539  -0.99  ...  -18.6875   -62.75
2022-02-13T14:32:01.350Z  8.192087525665539  -1.01  ...   -19.375   -62.25
2022-02-13T14:32:01.840Z  8.192087525665539  -0.99  ...  -19.0625   -62.75
2022-02-13T14:32:02.324Z  8.192087525665539  -0.99  ...  -19.0625  -61.875

[5 rows x 10 columns]

shape of df = (8240, 10)

In [ ]:
daate = pd.to_datetime( main.index  )
main['Second'] =  daate.second
main['Minutes'] =  daate.minute

In [ ]:
main['Hour'] = daate.hour

In [ ]:
main['Time'].value_counts()

In [ ]:
cols = list(df_main.columns[:-3])
cols.append('Second')
cols.append('Minutes')
cols.append('Hour')

In [ ]:
main.columns = cols

In [ ]:
main

                                      Angle      X     Y  ... Second Minutes Hour
timestamp                                                 ...
2022-02-13T14:32:00.378Z  8.192087525665539  -0.99   0.8  ...      0      32   14
2022-02-13T14:32:00.866Z  8.192087525665539  -0.99  0.81  ...      0      32   14
2022-02-13T14:32:01.350Z  8.192087525665539  -1.01  0.84  ...      1      32   14
2022-02-13T14:32:01.840Z  8.192087525665539  -0.99  0.78  ...      1      32   14
2022-02-13T14:32:02.324Z  8.192087525665539  -0.99  0.82  ...      2      32   14
...                                     ...    ...   ...  ...    ...     ...  ...
2022-02-13T15:41:36.500Z  9.342810245644976  -1.16  0.91  ...     36      41   15
2022-02-13T15:41:36.983Z  9.342810245644976  -1.19  0.92  ...     36      41   15
2022-02-13T15:41:37.475Z  9.342810245644976  -1.18  0.92  ...     37      41   15
2022-02-13T15:41:38.009Z  9.342810245644976  -1.18  0.92  ...     38      41   15
2022-02-13T15:41:38.462Z  9.342810245644976   -1.2  0.92  ...     38      41   15

[8240 rows x 13 columns]

In [ ]:
main.reset_index(drop=True, inplace = True)

In [ ]:
main

                  Angle      X     Y  ... Unnamed: 9 Unnamed: 10 Time
0     8.192087525665539  -0.99   0.8  ...    -19.375     -61.875   32
1     8.192087525665539  -0.99  0.81  ...   -18.6875      -62.75   32
2     8.192087525665539  -1.01  0.84  ...    -19.375      -62.25   32
3     8.192087525665539  -0.99  0.78  ...   -19.0625      -62.75   32
4     8.192087525665539  -0.99  0.82  ...   -19.0625     -61.875   32
...                 ...    ...   ...  ...        ...         ...  ...
8235  9.342810245644976  -1.16  0.91  ...        -14     -69.875   41
8236  9.342810245644976  -1.19  0.92  ...   -13.5625       -69.5   41
8237  9.342810245644976  -1.18  0.92  ...   -13.1875       -69.5   41
8238  9.342810245644976  -1.18  0.92  ...        -14    -68.6875   41
8239  9.342810245644976   -1.2  0.92  ...   -13.5625    -68.6875   41

[8240 rows x 11 columns]

In [ ]:
main = main.astype(float)

In [ ]:
print( f'max value in Angle = {np.max( main.Angle)}' )
print( f'min value in Angle = {np.min( main.Angle)}' )

Angle          float64
X              float64
Y              float64
Z              float64
Unnamed: 5     float64
Unnamed: 6     float64
Unnamed: 7     float64
Unnamed: 8     float64
Unnamed: 9     float64
Unnamed: 10    float64
Second         float64
Minutes        float64
Hour           float64
dtype: object

In [ ]:
meaned_main =  main.groupby(['Hour','Time']).mean()

In [ ]:
meaned_main.main

AttributeError: ignored

In [ ]:
meaned_main

              Angle         X         Y  ...  Unnamed: 8  Unnamed: 9  Unnamed: 10
Hour Time                                ...
14.0 32.0  7.524733 -0.859917  0.858760  ...   18.529442  -18.575930   -63.377066
     33.0  6.098766 -0.642017  0.828571  ...   22.168067  -20.104517   -64.503151
     34.0  8.099505 -1.023140  0.928760  ...   18.048037  -18.012397   -64.953512
     35.0  7.936818 -0.941463  0.885122  ...   18.117378  -19.164634   -65.549797
     36.0  8.112708 -0.953279  0.849098  ...   20.243852  -19.139344   -65.663934
...             ...       ...       ...  ...         ...         ...          ...
15.0 37.0  9.342810 -1.257297  0.959550  ...   21.812500  -13.890766   -69.380068
     38.0  9.342810 -1.236140  0.950351  ...   22.013158  -13.876096   -69.259320
     39.0  9.342810 -1.230175  0.936140  ...   22.060855  -13.932566   -69.434759
     40.0  9.342810 -1.202679  0.920982  ...   22.151786  -13.922991   -69.295201
     41.0  9.342810 -1.199722  0.925694  ...   22.179688  -13.911458   -69.229167

[70 rows x 10 columns]

In [ ]:
preds = clf.predict(meaned_main )

In [ ]:
meaned_main.shape

(60, 10)

In [ ]:
from collections import Counter
Counter(preds)

Counter({'Standing': 53, 'Walking': 7})